$brand-color: #152f03;
$secondary-brand-color: #152f03;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;